{lib_dirs, ["deps"]}.

{require_otp_vsn, "17"}.

{sub_dirs, [
    "plugins",
	"samples/nksip_loadtest", 
	"samples/nksip_pbx", 
	"samples/nksip_tutorial"
]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {nkservice, ".*", {git, "https://github.com/Nekso/nkservice", {branch, "develop"}}}
]}.
