
{sub_dirs, [
	"samples/nksip_loadtest",
	"samples/nksip_pbx", 
	"samples/nksip_tutorial"
]}.

{erl_opts, [
    % native,
    debug_info, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {nkservice, {git, "https://github.com/netcomposer/nkservice", {branch, "v10"}}}
]}.
