{cover_enabled, true}.

{project_app_dirs, ["plugins/*", "samples/*", "."]}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.

% {edoc_opts, [{dir, "../../doc"}]}.

{project_plugins, [pc]}.


{deps, [
    {nkservice, ".*", {git, "https://github.com/Nekso/nkservice", {branch, "ng"}}}
]}.

{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.


