[
    {nkservice, [
        {callbacksHttpUrl, "http://carlosj.synology.me:9001"},
        {externalHost, "carlosj.synology.me"}
    ]},

    {nkdomain, [
        {baseSrv, <<>>},
        {dbDriver, cockroachdb},
        {dbDatabase, nkobjects},
        {dbUrl, "postgresql://root@127.0.0.1:26257"},
        {apiUrl, "http://all:9001, https://all:9002"},
        {openapiUrl, "http://all:9001/openapi"},
        {makeGraphqlSchema, true},
        {graphiqlUrl, "http://127.0.0.1:9500"}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
        ]},
        {error_logger_redirect, false},
        {crash_log, "log/crash.log"},
        {colored, true},
        {colors, [
            {debug,     "\e[0;38m" },
            {info,      "\e[0;32m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" }
        ]}
    ]},

     {sasl, [
        {sasl_error_logger, false}
    ]}
  
].
